#mainContainerads {
  position: relative;
  width: 640px;
  height: 360px;
}

#mainContainerads #content, #mainContainerads #adContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 360px;
}

#mainContainerads #contentElement {
  width: 640px;
  height: 360px;
  overflow: hidden;
}

#mainContainerads #playButton {
	display: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 35px;
  width: 65px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  line-height: 0;
}
#mainContainerads #playButton:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#mainContainerads #unmuteButton {
  display: none;
  position: absolute;
  left: 90px;
  bottom: 20px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  line-height: 0;
}
#mainContainerads #unmuteButton:hover {
  border: 1px #f00 solid;
  color: #f00;
}